<%- include("header") -%>
<h2>This is the about page</h2>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis aut perferendis eligendi. Beatae animi dolorem velit eum adipisci dolore harum, sed quas cumque perspiciatis dignissimos aliquid? Praesentium mollitia a sit.</p>
<%- include("footer") -%>
